.grid-container2 {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
  column-gap: 2rem;
  row-gap: 2rem;
}

#order {
  max-width: 20%;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#playerOrder{
  justify-content: center;
  text-align: left;
}

.responsive_gift{
  max-width: 125px;
  max-height: 135px;
  width: auto;
  height: auto;
}

#giftContainer{
  display: flex;
  column-gap: 92px;
  row-gap: 78px;
  max-width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gift{
  font-weight: bolder;
  width: 12ch;
  justify-content: center;
}

#roomSubmit{
  visibility: hidden;
}

#keepPresent {
  visibility: hidden;
}

#giftInformation {
  display: flex;
  height: 50vmin;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#myModel{
  display: none;
}

/* !!!!! ALL below are for the Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
  background-color: #dddddd;
  margin: 15% auto; /* 15% from the top and centered */
  padding-top: 2vh;
  padding-right: 3vw;
  padding-left: 4vw;
  padding-bottom:3vh;
  width: 50%; /* Could be more or less, depending on screen size */
  box-shadow: -4px 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
}
  
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.2s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}